%h2 Logowanie
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
  = f.input :name, :autofocus => true, label: "Login"
  = f.input :password, label: "Hasło"
  = f.input :remember_me, :as => :boolean, label: "Zapamiętaj mnie" if devise_mapping.rememberable?
  = f.button :submit, "Zaloguj", :class => 'btn-primary'
= render "devise/shared/links"
